
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .nav {
    background-color: steelblue;
    color: white;
  }

  .logo {
    font-size: 14;
    color: white;
  }

  .matMenu {
    background-color: steelblue;
  }

  .mat-menu-item {
    background-color: white;
  }