
<div class="row">

  <div class="col-lg-4">
    <div class="jumbotron viewJumbo"  >
      <h1 class="display-4">View</h1>
      <p class="lead"></p>
      <hr class="my-4">
      <p class="lead">
        <a class="btn btn-info btn-lg" href="/survey" role="button">Show me my surveys</a>
      </p>
    </div>
  </div>

  <div class="col-lg-4">
      <div class="jumbotron createJumbo">
          <h1 class="display-4">Create</h1>
          <p class="lead"></p>
          <hr class="my-4">
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="/create" role="button">Lets create a survey</a>
          </p>
      </div>
  </div>

  <div class="col-lg-4">
      <div class="jumbotron responseJumbo">
          <h1 class="display-4">Responses</h1>
          <p class="lead"></p>
          <hr class="my-4">
          <p class="lead">
            <a class="btn btn-secondary btn-lg" href="#" role="button">Learn more</a>
          </p>
      </div>
  </div>
</div>

